@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --black: #171321;
  --green: #1b3d3f;
  --gold: #b8aa8f;
  --secondgold: #a1805d;
  --white: #fffaf2;
  --font-size: 1.3rem;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  /* background-image: url(./components/images/paper.jpg); */
  background-position: center;
  background-size: cover;
}

code {
  font-family: "Lato", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
